body {
    background-color: rgb(41, 40, 42);
}
.card {
    background-color: rgb(201, 200, 200);
}
.github:hover{
    color: rgb(202, 85, 241);
}
.answer{
    background-color: #29d5f7;
    border-radius: 5px;
    border: 0 solid;
 }
.mobileBtn {
    cursor: pointer;
    -webkit-box-shadow: 0 0.2rem 1rem 0 #a7aaaa;
            box-shadow: 0 0.2rem 1rem 0 #a7aaaa;
}
.t-success{
    color:rgb(19, 169, 19) !important;
}
.t-danger{
    color:rgb(233, 35, 35) !important;
}